<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="topnav">
        <nav>
            <a href="/">Trang chu</a> |
            <a href="/upload">Upload File</a> |
            <a href="/js/">JavaScript</a> |
            <a href="/python/">Python</a>
        </nav>

    </div>
    <h1>Hello word</h1>

</body>

</html>