<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/upload">Upload File</a>
    </div>
    <div class="upload-file-container">
        <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
            <h3>Upload Image</h3>
            <div>
                <input type="file" name="profile_pic" class="profile_pic" />
            </div>
            <div>
                <button class="btn-save" type="submit">Upload</button>
            </div>
        </form>
    </div>
</body>

</html>